AddType text/cache-manifest .manifest

RewriteEngine on
RewriteRule [oO]verview/? overview.html [L]
RewriteRule [aA]bout/? about.html [L]
RewriteRule [dD]download/? downloader.php [L]
RewriteRule [bB]undler/? bundler.php [L]