$alertWidth: 404px
$alertBorder: 2px

aside
	@include shadow(0, 0, 7px, #CCC)
	@include border(border, $alertBorder)
	@include unselectable
	@include round
	@include fade
	
	margin-top: 125px
	margin-left: - ($alertWidth + $alertBorder) / 2
	width: $alertWidth
	
	background-color: #FFF
	position: absolute
	padding: 13px
	z-index: 10
	left: 50%
	
	&.display
		opacity: .95
	
	h1
		font-size: 22px
		margin-bottom: 10px
	p
		font-size: 16px
		line-height: 1.2em
		color: #000
	a
		text-decoration: none
		
	.button
		float: right
		background: #EEE
		
		&:active
			background: #DDD
			p
				color: #000