@import Utility
@import Common
@import Tables
@import Inputs


/* Body */

body
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif
	background-color: #EEE
	padding-bottom: 90px
	height: 100%
	
*
	font-weight: normal
	line-height: 120%
	border: none
	padding: 0
	margin: 0
	
section, header
	margin: auto
	margin-top: 40px
	width: 1000px
	
header
	background-image: url(logo.png)
	height: 120px
	width: 277px
	
footer
	@include shadow(0, 0, 1px, #000)
	background-color: #392C26
	border-top: 2px solid #634C41
	font-size: 18px
	position: fixed
	height: 50px
	width: 100%
	bottom: 0
	
	div
		display: inline
		margin: 15px 15px 0 15px
	
	a
		text-decoration: none
		padding: 15px 15px 14px 15px
		color: #FFF
		
		&:hover
			background-color: darken(#634C41, 10%)


/* Application */

#FormulaSection
	#Formula
		margin: 0 20px 40px 0
		padding: 20px
		width: 785px
		height: 26px
	input
		font-size: 1.4em
	input[type="submit"]
		padding: 17px
		width: 147px
		margin: 0
	
#AnswerSection
	margin-bottom: 40px
	
	li
		font-size: 14px
	input[type="submit"]
		float: right
		
		
/* Overview */

#Slogan
	font-size: 23px
	width: 850px
	
#Features
	.box
		@extend .clear
		margin-top: 40px
		padding: 25px
	.img
		@include shadow(0, 0, 5px, #444)
		@include border-radius(3px, 3px, 3px, 3px)
		background-size: cover
		width:  230px
		height: 143px
	h1
		margin-bottom: 10px
		
		
	.odd
		.img
			margin-left: 100px
			float: right
	.even
		.img
			margin-right: 100px
			float: left
		h1, p
			text-align: right