@import Utility
@import Common
@import Tables
@import Inputs

body
	font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif
	background-color: #EEE
	
*
	font-weight: normal
	border: none
	padding: 0
	margin: 0

section
	margin: auto
	margin-top: 40px
	
	
/* Header */

header
	*
		font-family: "Futura"
		@extend .unselectable
	h1
		color: #261F19
		font-size: 76px
	h2
		color: #392C26
		font-size: 70px


/* Sections */

#FormulaSection
	width: 930px
	
	#Formula
		margin: 0 20px 40px 0
		padding: 20px
		width: 715px
		height: 26px
	input
		font-size: 1.4em
	input[type="submit"]
		padding: 17px
		width: 147px
	
#AnswerSection
	width: 930px
	
	li
		font-size: 14px
	input[type="submit"]
		float: right