.table
	@extend .round
	@include border
	@extend .unselectable
	@extend .gradient
	background-color: #FFF
	background-size: 100% 49px
	background-repeat: no-repeat
	text-align: center
		
	> .cell
		@include border(border-left)
		&:first-child
			border-left: none

		h1
			font-size: 20px
			margin: 15px 0 15px 0
			height: 19px
		> h1
			text-align: left
			margin: 15px
			
		ul *
			@include property(transition, background-color .2s ease-in-out)
		ul.focus *
			background-color: mix(yellow, #EEE)
			
		li
			@include border(border-top)
			padding: 10px 0 2px 10px
			list-style: none
			height: 28px
			
		> ul > li
			padding: 10px 10px 2px 10px
			
			&[onclick]:active
				background-color: lighten(#F5F5F5, 0.8)
				padding: 12px 10px 0 12px
				
		input
			font-size: 14px
			border: none
			width: 20px