.alert
	position: relative
	width: 492px
	&.show
		margin-bottom: 35px
		
	p
		@extend .box
		padding: 10px
		margin-top: 25px
		font-size: 16px
		z-index: 0
		
	.arrow
		@include border
		@include property(transform, rotate(45deg))
		background-color: mix(#EEE, #FFF)
		position: absolute
		height: 45px
		width: 45px
		z-index: -1
		top: -6px