#Fader
	top: 0
	position: fixed
	background-color: white
	height: 100%
	width: 100%
	z-index: 10
	opacity: .4
	
	/* browser bug fix
	&.fade
		@extend .fade

.dialog
	@include fixed-middle(400px)
	@include shadow(0, 0, 2px, rgba(0, 0, 0, .3))
	@extend .caption
	
	z-index: 20
	top: 250px
	
	h1
		@include border(border-bottom)
		padding: 15px

	ul
		margin: 5px 0 5px 0
	li
		@include press-pading(5px, 5px, 1px)
		cursor: pointer
		list-style: none
		text-align: center
	
	input
		font-size: .8em	
	input[placeholder]
		@include border-radius(0, 0, 0, 0)
		padding: 5px
		margin: 15px
		width: 90%
	.buttons input
		margin: 0 15px 10px 15px

.alert
	position: relative
	width: 492px
	&.show
		margin-bottom: 35px
		
	p
		@extend .box
		padding: 10px
		margin-top: 25px
		font-size: 16px
		z-index: 0
		
	.arrow
		@include border
		@include property(transform, rotate(45deg))
		background-color: mix(#EEE, #FFF)
		position: absolute
		height: 45px
		width: 45px
		z-index: -1
		top: -6px