/* Cross-Browser */
/* Appearance */
.unselectable, .table {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default; }

/* Layout */
.top, .hide {
  position: absolute;
  top: 0; }

.right {
  float: right; }

.left {
  float: left; }

.cell {
  display: table-cell; }

.wide {
  width: 100%; }

.clear:after, #Features .box:after, #Features .table:after, #Features input:after, #Features .alert p:after, .alert #Features p:after {
  visibility: hidden;
  display: block;
  content: ".";
  clear: both;
  height: 0; }

/* Fading */
.fade, .show {
  -webkit-transition: opacity 0.3s ease-in-out;
  -khtml-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }

.hide {
  z-index: -100; }

.fade, .hide {
  opacity: 0; }

.show {
  opacity: 1; }

.box, .table, input, .alert p {
  border: 1px solid #dddddd;
  -webkit-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 7px 7px 7px 7px;
  -khtml-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -ms-border-radius: 7px 7px 7px 7px;
  -o-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  background-color: white; }

.gradient, .table, input[type="submit"] {
  background-image: -webkit-linear-gradient(bottom, #eeeeee 0%, white 100%);
  background-image: -khtml-linear-gradient(bottom, #eeeeee 0%, white 100%);
  background-image: -moz-linear-gradient(bottom, #eeeeee 0%, white 100%);
  background-image: -ms-linear-gradient(bottom, #eeeeee 0%, white 100%);
  background-image: -o-linear-gradient(bottom, #eeeeee 0%, white 100%);
  background-image: linear-gradient(bottom, #eeeeee 0%, white 100%);
  background-color: #f6f6f6; }

.table {
  background-size: 100% 49px;
  background-repeat: no-repeat;
  text-align: center; }
  .table > .cell {
    border-left: 1px solid #dddddd; }
    .table > .cell:first-child {
      border-left: none; }
    .table > .cell h1 {
      font-size: 20px;
      margin: 15px 0 15px 0;
      height: 19px; }
    .table > .cell > h1 {
      text-align: left;
      margin: 15px; }
    .table > .cell ul {
      -webkit-transition: background-color 0.3s ease-in-out;
      -khtml-transition: background-color 0.3s ease-in-out;
      -moz-transition: background-color 0.3s ease-in-out;
      -ms-transition: background-color 0.3s ease-in-out;
      -o-transition: background-color 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out; }
    .table > .cell ul.focus {
      background-color: #ffffe2; }
    .table > .cell li {
      border-top: 1px solid #dddddd;
      padding: 10px 0 2px 10px;
      list-style: none;
      height: 28px; }
    .table > .cell > ul > li {
      padding: 10px 10px 2px 10px; }
      .table > .cell > ul > li[onclick]:active {
        background-color: #f7f7f7;
        padding: 12px 10px 0 12px; }
    .table > .cell input {
      font-size: 14px;
      background: none;
      border: none;
      width: 20px; }
    .table > .cell .spacer {
      color: white;
      color: rgba(255, 255, 255, 0); }

.red, #FormulaSection #Overlay span, .red *, #FormulaSection #Overlay span * {
  color: red; }

.green, .green * {
  color: green; }

.wrong, .wrong * {
  background-color: red;
  color: white; }

input {
  outline: none; }

input[type="submit"] {
  padding: 6px 10px 6px 10px;
  margin: 20px 0 0 10px;
  font-size: 0.9em; }
  input[type="submit"]:active {
    padding: 7px 9px 5px 11px; }
  input[type="submit"]:active {
    background-image: -webkit-linear-gradient(bottom, #dddddd 0%, #eeeeee 100%);
    background-image: -khtml-linear-gradient(bottom, #dddddd 0%, #eeeeee 100%);
    background-image: -moz-linear-gradient(bottom, #dddddd 0%, #eeeeee 100%);
    background-image: -ms-linear-gradient(bottom, #dddddd 0%, #eeeeee 100%);
    background-image: -o-linear-gradient(bottom, #dddddd 0%, #eeeeee 100%);
    background-image: linear-gradient(bottom, #dddddd 0%, #eeeeee 100%);
    background-color: #e5e5e5;
    color: #333333; }

.alert {
  position: relative;
  width: 492px; }
  .alert.show {
    margin-bottom: 35px; }
  .alert p {
    padding: 10px;
    margin-top: 25px;
    font-size: 16px;
    z-index: 0; }
  .alert .arrow {
    border: 1px solid #dddddd;
    -webkit-transform: rotate(45deg);
    -khtml-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #f6f6f6;
    position: absolute;
    height: 45px;
    width: 45px;
    z-index: -1;
    top: -6px; }

/* Body */
body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
  background-color: #eeeeee;
  padding-bottom: 90px;
  height: 100%; }

* {
  font-weight: normal;
  line-height: 120%;
  border: none;
  padding: 0;
  margin: 0; }

section, header {
  position: relative;
  margin: auto;
  margin-top: 40px;
  width: 1000px; }

header {
  background-image: url(logo.png);
  height: 120px;
  width: 277px; }

footer {
  -webkit-box-shadow: 0 0 1px black;
  -khtml-box-shadow: 0 0 1px black;
  -moz-box-shadow: 0 0 1px black;
  -ms-box-shadow: 0 0 1px black;
  -o-box-shadow: 0 0 1px black;
  box-shadow: 0 0 1px black;
  background-color: #392c26;
  border-top: 2px solid #634c41;
  font-size: 18px;
  position: fixed;
  height: 50px;
  width: 100%;
  bottom: 0; }
  footer div {
    display: inline;
    margin: 15px 15px 0 15px; }
  footer a {
    text-decoration: none;
    padding: 15px 15px 14px 15px;
    color: white; }
    footer a:hover {
      background-color: #44342d; }

/* Application */
#FormulaSection #Formula {
  margin-right: 20px;
  padding: 20px;
  width: 785px;
  height: 26px; }
#FormulaSection #Overlay {
  position: absolute;
  left: 22px;
  top: 21px; }
#FormulaSection input, #FormulaSection #Overlay {
  font-size: 1.4em; }
#FormulaSection input[type="submit"] {
  padding: 17px;
  width: 147px;
  margin: 0; }

#AnswerSection {
  margin-bottom: 40px; }
  #AnswerSection li {
    font-size: 14px; }
  #AnswerSection input[type="submit"] {
    float: right; }

/* Overview */
#Slogan {
  font-size: 23px;
  width: 850px; }

#Features .box, #Features .table, #Features input, #Features .alert p, .alert #Features p {
  margin-top: 40px;
  padding: 25px; }
#Features .img {
  -webkit-box-shadow: 0 0 5px #444444;
  -khtml-box-shadow: 0 0 5px #444444;
  -moz-box-shadow: 0 0 5px #444444;
  -ms-box-shadow: 0 0 5px #444444;
  -o-box-shadow: 0 0 5px #444444;
  box-shadow: 0 0 5px #444444;
  -webkit-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 3px 3px 3px 3px;
  -khtml-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -ms-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background-size: cover;
  width: 230px;
  height: 143px; }
#Features h1 {
  margin-bottom: 10px; }
#Features .odd .img {
  margin-left: 100px;
  float: right; }
#Features .even .img {
  margin-right: 100px;
  float: left; }
#Features .even h1, #Features .even p {
  text-align: right; }
